.user {
  margin-bottom: 50px;
}
.user-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.user-card {
  display: grid;
  grid-template-columns: auto;
  overflow: hidden;
  width: 200px;
  gap: 5px;
}

.user-box {
  display: grid;
  grid-template-columns: auto;
  gap: 8px;
  padding: 15px;
}

.user-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.user-card button {
  width: 60px;
  height: 30px;
  border-radius: 5px;
}

.user-btns {
  display: flex;
  gap: 5px;
}
