.product {
  margin-bottom: 50px;
}

.product-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 10px;
}

.product-card {
  display: grid;
  grid-template-columns: auto;
  border-radius: 15px;
  overflow: hidden;
  width: 200px;
}

.product-box {
  padding: 15px;
  display: grid;
  grid-template-columns: auto;
  gap: 8px;
}

.product-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.product-card button {
  width: 70px;
  height: 30px;
  border-radius: 8px;
}

.product-btns {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}
